body {
  font-family: 'Gloria Hallelujah', cursive;
}

#wrapper {
  width: 1200px;
  height: 600px;
  background-color: rgb(227, 197, 225);
  margin: 0 auto;
}

header {
  text-align: center;
}

header #title {
  font-size: 30px;
  color: darkmagenta;
}

header #subtitle {
  font-size: 20px;
  margin-top: -25px;
  margin-bottom: 0;
  color: crimson;
}

.left {
  padding-top: 50px;
  padding-left: 200px;
  float: left;
  width: 400px;
  text-align: center;
}

.right {
  padding-top: 50px;
  float: left;
  padding-right: 200px;
  width: 400px;
  text-align: center;
}

button {
  -border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  font-size: 15px;
  width: 150px;
  height: 40px;
  background-color: yellow;
  border-color: orange;
  border-width: 4px;
  color: cornflowerblue;
}

#single-btn {

}

#multi-btn {

}

.login-avatar {
  padding-top: 20px;
  width: 250px;
}

.page_head {
  text-align: center;
  font-size: 25px;
  margin-top: -10px;
  color: chartreuse;
}

.center {
  text-align: center;
  border: 1px solid black;
  border-radius: 40px;
  width: 240px;
  margin: 0 auto;
  padding-bottom: 30px;
  background-color: rgb(105, 233, 251);
  color: blue;
}

#login_form {
  text-align: center;
}

button#sign_in {
  width: 100px;
}

h4.header {
  font-size: 20px;
  margin: 10px 0 10px 0;
}

input {
  margin: 9px 0 18px 0;
  font-size: 15px;
  border-radius: 30px;
  text-align: center;
  background-color: rgb(243, 235, 243);
  color: rgb(88, 26, 255);
}

#single_header {
  margin: 17px;
}

.keys {
  width: 40px;
}

#up_key {
  margin-bottom: 40px;
}

#down_key {
  margin-bottom: 10px;
}

#welcome-avatar {
  width: 130px;
}

#handle {
  margin:  0;
}

#login {

}

#newb {
  display: none;
}

#welcome {
  display: none;
}

#key_container {
  display: inline-block;
  position: relative;
}

.red {
  color: red;
}

#game_header {
}

#head1 {
  font-size: 30px;
  margin-left: 300px;
  margin-right: 250px;
  display: inline-block;
  color: darkmagenta;
}

#head2 {
  font-size: 25px;
  margin-left: 750px;
  display: inline-block;
  color: blue;
}

#head3 {
  font-size: 18px;
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
  color: crimson;
}

#start_time {
  display: none;
}

#prog_head {
  margin-left: 100px;
  display: inline-block;
  font-size: 20px;
  color: darkblue;
}

#progress {
  background-color: black;
  width: 1120px;
  height: 15px;
  margin: 0 40px;
  position: relative;
}

#prog_finish {
  background-color: white;
  width: 8px;
  height: 15px;
  margin-left: 1100px;
}

#track {
  width: 1100px;
  height: 420px;
  background-color: black;
  border: 10px solid black;
  margin: 20px 40px;
  position: relative;
}

#mini {
  height: 30px;
  bottom: 0;
  position: absolute;
}

.lane {
  width: 1100px;
  height: 70px;
}

#ln1 {
  background-color: rgb(247, 126, 111);
  position: relative;
  height:  70px;
}

#ln2 {
  background-color: rgb(250, 192, 85);
}

#ln3 {
  background-color: rgb(255, 255, 87);
}

#ln4 {
  background-color: rgb(116, 211, 116);
}

#ln5 {
  background-color: rgb(91, 147, 245);
}

#ln6 {
  background-color: rgb(183, 123, 190);
}

#grid {
  width: 1100px;
  height: 420px;
  position: absolute;
  top: 153px;
  left: 215px;
}

#grid div {
  width: 98px;
  height: 418px;
  border: 1px solid black;
  display: inline-block;
  margin: 0;
}

#avatar {
  width: 70px;
  margin-left: 15px;
  position: absolute;
}

#avatar_img {
  width: 70px;
}

.center_announcement {
  position: absolute;
  width: 1100px;
  top: 110px;

}

.center_text {
  font-size: 65px;
  color: rgb(217, 14, 14);
  text-align: center;
  margin: 0;
}

#finish{
  height: 420px;
  position: absolute;
  left: 900px;
}

.obstacle {
  position: absolute;
  left: 900px;
}

#star {
  display: none;
  width: 70px;
}

.img {
  height: 70px;
}

.wide {
  width: 200px;
}

time {
  color: yellow;
}

label {
  color: violet;
}