<div id="login_container">
  <h4 class="header">Sign in to play</h4>
  <form id="login_form">
    <label>email</label><br>
    <input type="text" name="email" placeholder="example@gmail.com"><br>
    <label>password</label><br>
    <input type="password" name="password" placeholder="******"><br>
    <button id="sign_in" type="submit" value="Sign In">Sign In</button>
  </form>
  <h4 class="header">D B Cycle Newb?</h4>
  <button id="create" type="submit" value="create">Create Account</button>
</div>
