<div id="newb" class="center">
  <h4 class="header">Create your account</h4>
  <form id="create_form">
    <label>email</label><br>
    <input name="new-email" type="text" placeholder="example@gmail.com"><br>
    <label>handle</label><br>
    <input name="new-handle" type="text" placeholder="ex. we_be_sherif"><br>
    <label>password</label><br>
    <input name="new-password" type="password" placeholder="******"><br>
    <button id="register" value="Create">Register</button>
  </form>

</div>
