<div class="center">
  <h4 class="header">Create your account</h4>
  <form id="login_form">
    <label>email</label><br>
    <input type="text" name="email" placeholder="example@gmail.com"><br>
    <label>handle</label><br>
    <input type="text" name="handle" placeholder="ex. we_be_sherif"><br>
    <label>password</label><br>
    <input type="password" name="password" placeholder="******"><br>
    <button id="create_acct" type="submit" value="Create">Create Account</button>
  </form>

</div>
