<div id="game_header">
<div id="head1">D B Cycle</div>
<div id="head3">The Dodgy Route to school</div>
</div>
<button id="start_time">start</button>

<div id="prog_head">Progress</div>
<div id="head2"><%= @current_user.handle %>'s time <time>0:00:00</time></div>
<div id="progress">
  <img id="mini" src="./imgs/cyclist.gif">
  <div id="prog_finish"></div>
</div>

<div id="track">
  <div id="lane1"></div>
  <div id="lane1"></div>
  <div id="lane1"></div>
  <div id="lane1"></div>
  <div id="lane1"></div>
  <div id="lane1"></div>
</div>
