<%= erb :_main_header %>

<div class="page_head">
  <h4 id="single_header">Single Player Mode</h4>
</div>

<div id="login_view">
  <%= erb :_login %>
  <%= erb :_newb %>
  <%= erb :_welcome %>
</div>
